django==5.2.7
requests==2.32.5
discord.py[speed,voice]==2.6.4
opuslib==3.0.1
ffmpeg==1.4
fuzzywuzzy[speedup]==0.18.0
youtube-dl==2021.12.17
rich==14.2.0
tqdm==4.67.1
dnspython==2.8.0
python-whois==0.9.6
