@import "colors-discordbot.css";

.app-discordbot * {
    --primary: var(--discordbot-default);
    --secondary: var(--discordbot-darkest);
    --link-fg: var(--discordbot-dark);
    --link-selected-fg: var(--discordbot-light);
}
