@import "colors-discordbot.css";

html[data-theme="light"], html[data-theme="dark"], :root {
    --primary: var(--discordbot-default);
    --secondary: var(--discordbot-darkest);
    --link-fg: var(--discordbot-dark);
    --link-selected-fg: var(--discordbot-light);
}
